@inject IHttpContextAccessor context
﻿@using Newtonsoft.Json;
@model NOTEA.Models.ConspectListModel<ConspectModel>

@{
    ViewData["Title"] = "Conspect list";
    if (context.HttpContext.Session.GetString("User") == "")
    {
        context.HttpContext.Response.Redirect("/User/LogIn");
    }
}

<h1>The list of conspects</h1>

<br />

<div>
    @using (Html.BeginForm("ConspectList", "Conspect", FormMethod.Get))
    {
        <table>
            <tr>
                <td>
                    <span><b>Search by:</b></span>
                    @Html.RadioButton("searchBy", "name", true)
                    <text> Conspect name </text>
                    @Html.RadioButton("searchBy", "ConspectSemester", false)
                    <text> Semester </text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("searchValue", null, new {Class = "form-control", required = true})
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="Search" class="btn btn-success" />
                </td>
            </tr>
        </table>
    }
</div>
<br />

<input type="submit" onclick="location.href='@Url.Action("SortConspect","Conspect")'" value="Sort by date" />
<br />
<p></p>
<table class="table">
    <tbody>
        @foreach  (ConspectModel conspectModel in Model.Conspects)
        {
            <tr>
                <td>
                    <input type="submit" onclick="location.href='@Url.Action("ViewConspect","Conspect", new {Index = Model.Conspects.IndexOf(conspectModel) })'" value="@conspectModel.Name" />
                </td>
                <td>
                    @conspectModel.Date.ToLongDateString()
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Error Message Modal -->
<div class="modal fade" id="myModalError" tabindex="-1" role="dialog" aria-labelledby="myModalErrorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ff6b6b; color: black;">
                <h5 class="modal-title" id="myModalErrorLabel">Oops...</h5>
            </div>
            <div class="modal-body">
                <div id="MyModalErrorAlertBody">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function openErrorModal(errorMessage) {
            var errorDiv = document.getElementById("MyModalErrorAlertBody");
            errorDiv.innerHTML = errorMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function () {
            var errorMsg = "@TempData["ErrorMessage"]";
            if (errorMsg)
                openErrorModal(errorMsg);
        });
    </script>
}

<script>
    function showHideInput(checkboxId, panInputId, buttonId) {
        let checkbox = document.getElementById(checkboxId);
        let pan_input = document.getElementById(panInputId);
        let button = document.getElementById(buttonId)

        if (checkbox.checked) {
            pan_input.style.display = "flex";
            button.style.display = "flex";
        } else {
            pan_input.style.display = "none";
        }
    }
</script>