@inject IHttpContextAccessor context
@using NOTEA.Models.ConspectModels;
@using NOTEA.Extentions;
@model ConspectModel

@{
    ViewData["Title"] = "Edit conspect";
    if (context.HttpContext.Session.GetString("User") == null)
    {
        context.HttpContext.Response.Redirect("/User/LogIn");
    }
}

<style>
    .validation-error {
        color: red;
    }
</style>

<h1>Edit conspect</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Conspect" asp-action="ViewConspect">
                <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "validation-error" })
                <br />
                <label asp-for="ConspectSemester" class="control-label">Semester</label>
                @Html.DropDownListFor(model => model.ConspectSemester, EnumExtention.GetSelectList<ConspectSemester>(), new { @class = "selectpicker show-menu-arrow", data_live_search = "true" })
                <br />
                <label asp-for="ConspectText" class="control-label">Text</label>
                <textarea asp-for="ConspectText" cols="150" rows="20"></textarea>
                @Html.ValidationMessageFor(model => model.ConspectText, null, new { @class = "validation-error" })
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!-- Error Message Modal -->
<div class="modal fade" id="myModalError" tabindex="-1" role="dialog" aria-labelledby="myModalErrorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ff6b6b; color: black;">
                <h5 class="modal-title" id="myModalErrorLabel">Oops...</h5>
            </div>
            <div class="modal-body">
                <div id="MyModalErrorAlertBody">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
            closeOnEscape: true
        });
    </script>
    <script type="text/javascript">
        function openErrorModal(errorMessage) {
            var errorDiv = document.getElementById("MyModalErrorAlertBody");
            errorDiv.innerHTML = errorMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function () {
            var errorMsg = "@TempData["ErrorMessage"]";
            if (errorMsg)
                openErrorModal(errorMsg);
        });
    </script>
}
