@inject IHttpContextAccessor context
@using NOTEA.Extentions;
@using NOTEA.Models.ConspectModels;
@model ConspectModel

@{
    ViewData["Title"] = "ViewConspect";
    if (context.HttpContext.Session.GetString("User") == null)
    {
        context.HttpContext.Response.Redirect("/User/LogIn");
    }
}

<style>
div .text-wrapping{
    word-wrap: normal;
    white-space: pre;
    white-space: pre-wrap; 
} 
</style>

<h1>@Model.Name</h1>

<p>@Model.ConspectSemester.GetDisplayName()</p>


<div class="text-wrapping">
    <p>@Model.ConspectText</p>
</div>
<input type="submit" onclick="location.href='@Url.Action("EditConspect","Conspect", new {Id = Model.Id })'" value="Edit" class="btn btn-primary" />
<input type="submit" onclick="location.href='@Url.Action("DeleteConspect","Conspect", new {Id = Model.Id })'" value="Delete" class="btn btn-primary" />

<div>
    <a asp-action="ConspectList">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function openErrorModal(errorMessage) {
            var errorDiv = document.getElementById("MyModalErrorAlertBody");
            errorDiv.innerHTML = errorMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function () {
            var errorMsg = "@TempData["ErrorMessage"]";
            if (errorMsg)
                openErrorModal(errorMsg);
        });
    </script>
}