@inject IHttpContextAccessor context
@using NOTEA.Extentions;
@using NOTEA.Models.ConspectModels;
@model ConspectModel

@{
    ViewData["Title"] = "ViewConspect";
    if (context.HttpContext.Session.GetString("User") == null)
    {
        context.HttpContext.Response.Redirect("/User/LogIn");
    }
}

<style>
div .text-wrapping{
    word-wrap: normal;
    white-space: pre;
    white-space: pre-wrap; 
} 
</style>

<h1>@Model.Name</h1>

<p>@Model.ConspectSemester.GetDisplayName()</p>


<div class="text-wrapping">
    <p>@Model.ConspectText</p>
</div>
<input type="submit" onclick="location.href='@Url.Action("EditConspect","Conspect", new {Id = Model.Id })'" value="Edit" class="btn btn-primary" />
<input type="submit" onclick="location.href='@Url.Action("DeleteConspect","Conspect", new {Id = Model.Id })'" value="Delete" class="btn btn-primary" />


<button class="btn btn-primary" onclick="showDiv()">Share conspect </button
<p></p>
<div id="formElement" style="display: none;">
    @using (Html.BeginForm("ShareConspect", "Conspect", new { Id = Model.Id, Name = Model.Name, Date = Model.Date }, FormMethod.Post))
    {
        <input type="text" name="username" id="username" placeholder="Enter receivers username" style="height: 35px;"/>

        <input type="submit" value="Share" class="btn btn-primary"/>
    }
</div>


<div>
    <a asp-action="ConspectList">Back to List</a>
</div>

<script type="text/javascript">
    function showDiv() {
        document.getElementById('formElement').style.display = 'block';
    }
</script>


<!-- Error Message Modal -->
<div class="modal fade" id="myModalError" tabindex="-1" role="dialog" aria-labelledby="myModalErrorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ff6b6b; color: black;">
                <h5 class="modal-title" id="myModalErrorLabel">Oops...</h5>
            </div>
            <div class="modal-body">
                <div id="MyModalErrorAlertBody">
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
            closeOnEscape: true
        });
    </script>

    <script type="text/javascript">
        function openErrorModal(errorMessage) {
            var errorDiv = document.getElementById("MyModalErrorAlertBody");
            errorDiv.innerHTML = errorMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function () {
            var errorMsg = "@TempData["ErrorMessage"]";
            if (errorMsg)
                openErrorModal(errorMsg);
        });
    </script>
}
