@inject IHttpContextAccessor context
@using NOTEA.Extentions;
@using NOTEA.Models.ConspectModels;
@model ConspectModel

@{
    ViewData["Title"] = "ViewConspect";
    if (context.HttpContext.Session.GetString("User") == null)
    {
        context.HttpContext.Response.Redirect("/User/LogIn");
    }
}

<style>
    div .text-wrapping{
        word-wrap: normal;
        white-space: pre;
        white-space: pre-wrap; 
    } 

    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited,
    .btn-primary:focus {
        background-color: #FFECE4;
        border-color: #FFECE4;
        color: black;
    }

    button[class="btn btn-primary"] {
        background-color: #708471;
        border: none;
        color: white;
        padding: 2px 5px;
        text-decoration: none;
        margin: 1px 1px;
        cursor: pointer;
    }

    input[type=button], input[type=submit], input[type=reset] {
            background-color: #708471;
        border: none;
        color: white;
        padding: 2px 5px;
        text-decoration: none;
        margin: 1px 1px;
        cursor: pointer;
    }
</style>


<h1>@Model.Name</h1>

<p>@Model.ConspectSemester.GetDisplayName()</p>


<div class="text-wrapping">
    <p>@Model.ConspectText</p>
</div>
<input type="submit" onclick="location.href='@Url.Action("EditConspect","Conspect", new {Id = Model.Id })'" value="📝" class="btn btn-primary" title="Edit notea" />
<input type="submit" onclick="location.href='@Url.Action("DeleteConspect","Conspect", new {Id = Model.Id })'" value="🗑" class="btn btn-primary" title="Delete notea" />


<button class="btn btn-primary" onclick="showDiv()" title="Share notea">📨</button>
<div id="formElement" style="display: none;">
    @using (Html.BeginForm("ShareConspect", "Conspect", new { Id = Model.Id, Name = Model.Name, Date = Model.Date }, FormMethod.Post))
    {
        <input type="text" name="username" id="username" placeholder="Enter receivers username" style="height: 35px;"/>

        <input type="submit" value="Share" class="btn btn-primary"  />
    }
</div>


<div>
    <a asp-action="ConspectList" style="color: #708471">Back to List</a>
</div>

@* <script type="text/javascript">
    function showDiv() {
        document.getElementById('formElement').style.display = 'block';
    }
</script> *@

<script type="text/javascript">
    function showDiv() {
        var formElement = document.getElementById('formElement');
        formElement.style.display = (formElement.style.display === 'none') ? 'block' : 'none';
    }
</script>

<!-- Error Message Modal -->
<div class="modal fade" id="myModalError" tabindex="-1" role="dialog" aria-labelledby="myModalErrorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ff6b6b; color: black;">
                <h5 class="modal-title" id="myModalErrorLabel">Oops...</h5>
            </div>
            <div class="modal-body">
                <div id="MyModalErrorAlertBody">
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
            closeOnEscape: true
        });
    </script>

    <script type="text/javascript">
        function openErrorModal(errorMessage) {
            var errorDiv = document.getElementById("MyModalErrorAlertBody");
            errorDiv.innerHTML = errorMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function () {
            var errorMsg = "@TempData["ErrorMessage"]";
            if (errorMsg)
                openErrorModal(errorMsg);
        });
    </script>
}
